ul
	li
		a(href="#")
			span(data-text="Home") Home
	li
		a(href="#")
			span(data-text="About") About
	li
		a(href="#")
			span(data-text="Services") Services
	li
		a(href="#")
			span(data-text="Portfolio") Portfolio
	li
		a(href="#")
			span(data-text="Contact") Contact
	