html,
body{
	font-family: Lato, sans-serif;
	background-color: #262626;
}

ul{
	margin:0;
	padding:0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	background: #fff;
	
	li{
		list-style: none;
	}
}

a{
	text-decoration: none;
	text-transform: uppercase;
	color: #262626;
	font-size:1.3em;
	display: block;
	position: relative;
	
	span{
		display: block;
		padding: 15px 20px;
		
		&:before{
			content: attr(title);
			position: absolute;
			top: 0;
			left: 0;
			background: lightblue;
			color: #fff;
			padding: 15px 20px;
			transition: .3s;
			transform: rotatex(90deg) translatey(-100px);
			transform-origin: top;
		}
	}
}

span:hover:before{
	transform: rotatex(0deg) translatey(0);
}

