ul
	li
		a(href="#") 
			span(title="Home") Home
	li
		a(href="#") 
			span(title="About") About
	li
		a(href="#") 
			span(title="Services") Services
	li
		a(href="#") 
			span(title="Portfolio") Portfolio
	li
		a(href="#") 
			span(title="Contact") Contact