ul
		li
			a(href="#") Home
				span
				span
		li
			a(href="#") About
				span
				span
		li
			a(href="#") Services
				span
				span
		li
			a(href="#") Portfolio
				span
				span
		li
			a(href="#") Contact
				span
				span