ul
	li
		a(href="#" data-text="Home") Home
	li
		a(href="#" data-text="About") About
	li
		a(href="#" data-text="Services") Services
	li
		a(href="#" data-text="Portfolio") Portfolio
	li
		a(href="#" data-text="Contact") Contact
	