body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: flex;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  font-size: 1.3em;
  position: relative;
  display: block;
  text-align: center;
  margin: 0 20px;
  padding: 5px 10px;
  transition: .3s;
}
a:before, a:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  border: 3px solid #9D63A9;
  transition: .3s;
  opacity: 0;
}
a:before {
  border-width: 3px 3px 0 0;
  top: 0;
  right: 0;
}
a:after {
  border-width: 0 0 3px 3px;
  bottom: 0;
  left: 0;
}
a:hover:before {
  top: -7px;
  right: -7px;
  opacity: 1;
}
a:hover:after {
  bottom: -7px;
  left: -7px;
  opacity: 1;
}
a:hover {
  background: #9D63A9;
  color: #fff;
  transition: .3s;
}
